*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}
body{
    background-color: #000000;}
.Cabecera{
    position: fixed; 
    width: 100%;
    height: 18vh;
    background: linear-gradient(to bottom, black 80%, transparent 100%);
    display: flex;
    gap: 5vw;
    justify-content: center; 
    top: 0;
    z-index: 100;
}
.Cabezera-tel{
    display: none;
}
.Logo{
    width: 10vw;
    height: auto;
}
.Logo a{
    height: 0;
}
.Logo img{
    width: 95%;
    height: auto;
    transition: calc(0.3s);
}
.Logo img:hover{
    margin-left: -3%;
    width: 100%;
}
.Logo-tel{
    display: none;
}
.Cabecera a{
    height: 0vw;
    color: #FF4FBF;
    margin-top: 5vw;
    font-size: 1.3vw;
    font-weight: bold;
    text-decoration: none;
    text-shadow:
  0 0 15px #ff4fbf,
  0 0 30px #ff4fbf;
  transition: calc(0.3s);
}
.Cabecera a:hover{
  color: #FF8A2A;
  text-shadow:
  0 0 15px #ffad69,
  0 0 30px #ffad69;
}
.Portada{
    width: 100%;
    height: 900px;
    background-color: rgb(0, 0, 0);
    background-image: url(Media/Edén\ portada.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-top: 5vh;
    box-shadow: 0 2vw 3vw  #fa8dd2;
}
.Portada-Novedades{
    width: 100%;
    height: 250px;
    background-color: rgb(0, 0, 0);
    background-image: url(Media/Novedades\ \ Edén.png);
    background-size: cover;
    background-position: center;
    margin-top: 15vh;
    box-shadow: 0 2vw 3vw  #fa8dd2;
}
.Portada-Carta{
    width: 100%;
    height: 250px;
    background-color: rgb(0, 0, 0);
    background-image: url(Media/Carta\ \ Edén.png);
    background-size: cover;
    background-position: center;
    margin-top: 15vh;
    box-shadow: 0 2vw 3vw  #fa8dd2;
}
.Portada-Reservas{
    width: 100%;
    height: 250px;
    background-color: rgb(0, 0, 0);
    background-image: url(Media/Reservas\ Edén.png);
    background-size: cover;
    background-position: center;
    margin-top: 15vh;
    box-shadow: 0 2vw 3vw  #fa8dd2;
}
.Portada-Contacto{
    width: 100%;
    height: 250px;
    background-color: rgb(0, 0, 0);
    background-image: url(Media/Contacto\ Edén.png);
    background-size: cover;
    background-position: center;
    margin-top: 15vh;
    box-shadow: 0 2vw 3vw  #fa8dd2;
}
.Equipo-Portada{
    width: 100%;
    height: 250px;
    background-color: rgb(0, 0, 0);
    background-image: url(Media/Equipo\ Edén.png);
    background-size: cover;
    background-position: center;
    margin-top: 15vh;
    box-shadow: 0 2vw 3vw  #fa8dd2;
}
.Espacio{
    width: 100%;
    height: 14vh;
}
.Colección{
    width: 90%;
    height: auto;
    margin: 6vw auto;
    background-color: #000000;
    text-align: center;
}
.Colección h1, 
.Colección >p{
    text-align: center;
    margin-bottom: 2vw;
}
.Colección h1{
    color: #FF8A2A;
    font-size: 3vw;
    text-shadow:
  0 0 30px #ffad69;
}
.Colección p{
    color: #6CFF59;
    font-size: 1.5vw;
    text-shadow:
  0 0 15px #6cff59;
}
.Imágenes-colección{
    height: auto;
    display: flex;
    flex-wrap: wrap;      /* 👈 importante para crear 2 filas */
    justify-content: center;
    gap: 2rem; 
}
.Shisa-título{
    width: 20vw ;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;   /* Elems uno debajo de otro */
    justify-content: flex-start;  /* Centra verticalmente */
    align-items: center;      /* Centra horizontalmente */
}
.Shisa{
    width: 13vw;
    height: 18vw;
    border-radius: 8px;
    border: 0.3vw solid #28A9FF;
    box-shadow: 0 0px 25px  #76c8ff;
    display: flex;
}
.Shisa img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.Shisa-título h2{
    width: 100%;
    margin-top: 1.5vw;
    text-align: center;
    color: #6CFF59;
    font-size: 1.7vw;
    font-weight: bold;
    text-shadow:
  0 0 15px #adffa2,
  0 0 30px #adffa2;
}
.Shisa-título p{
    text-align: center;
    color: #FF4FBF;
    font-size: 1.2vw;
    text-shadow:
  0 0 15px #ff4fbf;
}
.Shisa-título h3{
    margin-top: 1vw;
    color: #28A9FF;
    font-size: 1.5vw;
    text-shadow:
  0 0 15px #76c8ff;
}
.Colección button,
.Colección button a{
    width: 10vw;
    height: 3vw;
    font-size: 1.2vw;
    margin-top: 3vw;
    font-weight: bold;
    color: #000000;
    background-color: #FF4FBF;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 15px #ff4fbf;
    cursor: pointer;
    transition: calc(0.3s);
}
.Colección button:hover{
    background-color: #FF8A2A;
    box-shadow: 0 0 15px #ffad69;
}
.Reseñas{
    margin-top: 5vw;
    text-align: center;
}
.Reseñas h3{
    text-align: center;
    color: #FF8A2A;
    font-size: 2.5vw;
    margin-bottom: 3vw;
    text-shadow:
  0 0 30px #ffad69;
}
.Reseñas-cliente{
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra las reseñas */
}
.Reseña{
   text-align: center;
    width: 50vw;
    margin-bottom: 2vw;
    border: 5px solid #ffff;
    box-shadow: 0 0 30px rgb(255, 63, 63);
}
.Reseña p{
    text-align: center;
    margin-top: 1vw;
    color: #6CFF59;
    font-size: 1.2vw;
    text-shadow:
  0 0 15px #6cff59;
}
.Reseña h4{
    color: #28A9FF;
    font-size: 1.5vw;
    text-shadow:
  0 0 15px #76c8ff;
    margin-bottom: 1vw;
}
.Reseña h5{
    color: #FF4FBF;
    font-size: 2vw;
    text-shadow:
  0 0 15px #ff4fbf;
  margin-bottom: 1vw;
}
.Reseñas button,
.Reseñas button a{
    width: 10vw;
    height: 3vw;
    font-size: 1.2vw;
    font-weight: bold;
    color: #000000;
    background-color: #FF4FBF;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 15px #ff4fbf;
    cursor: pointer;
    transition: calc(0.3s);
}
.Reseñas button:hover{
    background-color: #FF8A2A;
    box-shadow: 0 0 15px #ffad69;
}
.Contenido-footer{
    margin-top: 8vw;
    display: flex;
    gap:15vw;
    justify-content: center;
    padding-bottom: 4vw;
}
.Contenido-footer h3{
    color: #FF8A2A;
    font-size: 2vw;
    text-shadow:
  0 0 30px #ffad69;
  text-align: left;
  margin-bottom: 1.5vw;
}
.Contenido-footer p,
.Contenido-footer a{
    color: #6CFF59;
    font-size: 1.2vw;
    text-shadow:
  0 0 15px #6cff59;
    margin-bottom: 1vw;
    text-align: left;
    transition: calc(0.3s);
    text-decoration: none;
}
.Contenido-footer p:hover,
.Contenido-footer a:hover{
    color: #FF4FBF;
    text-shadow:
  0 0 15px #ff4fbf;
}
.Contenido3{
    width: 15vw;
    height: auto;
}
.Contenido3 img{
    width: 100%;
}
.Quiénes-somos{
    width: 100%;
    height: 850px;
    background-color: rgb(0, 0, 0);
    background-image: url(Media/Edén\ Quienes\ somos.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-top: 5vh;
    box-shadow: 0 10px 20px  #fa8dd2;
}
.Cuerpo{
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 5vw;
    margin-bottom: 5vw;
    padding: 3vw;
    border-radius: 8px;
    box-shadow: 0 0px 30px  #76c8ff;
}
.Cuerpo h1{
    text-align: center;
    color: #FF8A2A;
    font-size: 2.2vw;
    margin-top: 1vw;
    text-shadow:
  0 0 30px #ffad69;
}
.Cuerpo p{
    color: #6CFF59;
    font-size: 1.2vw;
    margin-top: 2vw;
    text-shadow:
  0 0 15px #6cff59;
    line-height: 1.8;
    text-align: center;
}
.Logo-Cuerpo{
    width: 10vw;
    height: auto;
    margin: auto;
    margin-top: 4vw;
}
.Logo-Cuerpo img{
    width: 100%;
    height: auto;
}  
.Formulario-reservas{
    margin: 6vw auto;
    padding: 2vw 0vw 2vw 3vw;
    width: 40vw;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centra el formulario */
    box-shadow: 0 0px 25px #ffad69;
}
.Formulario-reservas h1{
    text-align: center;
    color: #FF8A2A;
    font-size: 2.5vw;
    margin-bottom: 3vw;
    text-shadow:
  0 0 30px #ffad69;
} 
form {
    display: flex;
    flex-direction: column; /* 👈 elementos uno debajo del otro */
    gap: 1rem; /* opcional */
    width: 30vw;
}
form label {
    color: #6CFF59;
    font-size: 1.2vw;
    text-shadow:
  0 0 15px #6cff59;
}
form input,
form select{
    width: 100%;
    height: auto;
    color: #FF8A2A;
    text-shadow:
  0 0 4vw #ffad69;
    padding-right: 0.8vw;
    padding-left: 1vw;
    font-size: 1.2vw;
    border: 0.1vw solid #28A9FF;
    border-radius: 8px;
    box-shadow: 0 0px 15px  #76c8ff;
}
.Envío{
    text-align: center;
}
.Envío input[type="submit"]{
    text-align: center;
    width: 10vw;
    height: 3vw;
    font-size: 1.2vw;
    margin-top: 2vw;
    font-weight: bold;
    color: #000000;
    background-color: #FF4FBF;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 15px #ff4fbf;
    cursor: pointer;
    transition: calc(0.3s);
}
.Envío  input[type="submit"]:hover{
    background-color: #FF8A2A;
    box-shadow: 0 0 15px #ffad69;
}
.Formulario-Equipo{
    text-align: center;
    margin-top: 5vw;
}
.Cuerpo input[type="file"],
.Cuerpo label.btn-file{
    padding: 1.5vw 3vw;
    font-size: 1.5vw;
    font-weight: bold;
    background-color: #FF4FBF;
    border-radius: 4px;
    box-shadow: 0 0 15px #ff4fbf;
    cursor: pointer;
    transition: calc(0.3s);
}
.Cuerpo input[type="file"]:hover,
.Cuerpo label.btn-file:hover{
    background-color: #FF8A2A;
    box-shadow: 0 0 15px #ffad69;
}
@media  (max-width: 1400px) {
    .Portada{
        height: 54vw;
    }
}
@media  (max-width: 1280px) {
    .Portada{
        height: 58vw;
    }
}
@media (max-width: 768px) {
    .Cabecera{
        height: auto;
        padding: 20vw 0;
        gap: 5vw;
        flex-wrap: wrap;
    }
    .Cabezera-tel{
        display: block;
        width: 100%;
        height: 8vh;
        display: flex;
        gap: 5vw;
        justify-content: center; 
        top: 0;
        z-index: 101;
        position: fixed;
    }
    .Cabecera a{
        font-size: 4vw;
        margin-top: 5vw;
        text-decoration: underline;
    }
    .Logo{
       display: none;
    }
    .Logo-tel{
        display: block;
        width: 20vw;
        height: auto;
        margin-top: 2vw;
        z-index: 101;
    }
    .Logo-tel img{
        width: 100%;
        height: auto;
    }
    .Portada{
        height: 200vw;
    }
    .Quiénes-somos{
        height: 480px;
    }
    .Colección{
        margin-top: 40px;
        width: 95%;
    }
    .Colección h1{
        font-size: 10vw;
    }
    .Colección p{
        font-size: 6vw;
        margin-bottom: 30px;
    }
    .Shisa-título{
        width: 40vw ;
    }
    .Shisa{
        width: 40vw;
        height: auto;
    }
    .Shisa-título h2{
        font-size: 4vw;
    }
    .Shisa-título p{
        font-size: 5vw;
    }
    .Shisa-título h3{
        font-size: 5vw;
    }
    .Cuerpo{
        width: 90%;
        padding: 5vw;
    }
    .Cuerpo h1{
        font-size: 8vw;
    }
    .Cuerpo p{
        font-size: 3.5vw;
    }
    .Logo-Cuerpo{
        width: 30vw;
    }
    .Formulario-reservas{
        margin: 15vw auto;
    }
    .Formulario-reservas h1{
        font-size: 6vw;
    }
    .Formulario-reservas{
        width: 80vw;
        padding: 5vw 3vw 5vw 3vw;
    }
    .Formulario-Equipo{
        margin: 10vw 0;
    }
    .Formulario-Equipo input[type="file"],
    .Formulario-Equipo label.btn-file{
        font-size: 4vw;
        padding: 2.5vw 4.5vw;
    }
    form {
        width: 70vw;
    }
    form label {
        font-size: 4vw;
    }
    form input,
    form select{
        font-size: 4vw;
    }
    .Envío input[type="submit"]{
        margin-top: 5vw;
        width: 30vw;
        height: 10vw;
        font-size: 4vw;
    }
    .Colección button,
    .Colección button a,
    .Reseñas button,
    .Reseñas button a{
    width: 30vw;
    height: 10vw;
    font-size: 3vw;
    margin-top: 3.5vw;
    margin-bottom: 3vw;
    font-weight: bold;
    }
    .Reseñas h3{
        font-size: 6vw;
        margin-bottom: 6vw;
    }
    .Reseña{
       width: 100vw;
       margin-bottom: 8vw;
    }
    .Reseña p{
        font-size: 3vw;
        margin: 2vw 2vw;
    }
    .Reseña h4{
        font-size: 4vw;
    }
    .Reseña h5{
        font-size: 6vw;
    }
    .Portada-Carta,
    .Portada-Novedades,
    .Portada-Reservas,
    .Portada-Contacto,
    .Equipo-Portada{
        margin-top: 50vw;
    }
  .Contenido-footer{
    margin-top: 12vw;
    gap:10vw;
   }
  .Contenido-footer h3{
    font-size: 3vw;
  }
   .Contenido-footer p,
   .Contenido-footer a{
    font-size: 2.5vw;
   }
}
@media (max-width: 375px) {
  .Portada{
      height: 165vw;
    }
}
@media  (max-width: 360px) {
    .Portada{
        height: 190vw;
    }
}
@media  (max-width: 344px) {
    .Portada{
        height: 230vw;
    }
}